
// Colors

$primary-green: #004F44;
$white: #ffffff;
$light-green: #F3FFFC;
$brown: #9C6955;

// Breakpoints

$sm: 320px;
$md: 768px;

$products: (
  1: "/assets/products-hero/product-one.png",
  2: "/assets/products-hero/product-two.png",
  3: "/assets/products-hero/product-three.png"
)