@import "../mixins/core";

.plant-stands {
  background-color: $light-green;
  position: relative;

  > .limiter-space {
    display: flex;
    flex-direction: column;
  }
  
  &__header {
    width: 100%;
    color: $primary-green;
    font-family: "DM Sans", sans-serif;
    margin-top: 80px;
    margin-bottom: 40px;

    .header__title {
      font-size: 40px;
      letter-spacing: 0.5px;
    }
  }

  &__content {
    width: 100%;
    @include flex-justify-align(space-between, center);
    gap: 10px 10px;
    flex-wrap: wrap;

    @media screen and (max-width: $md) {
      justify-content: center;
    }
  }
}